.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #E56262;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

  .one{
    position: absolute;
    top: -50px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.3);
    animation: show1 2s infinite alternate;
  }

  .two{
    position: absolute;
    top: -35px;
    left: 165px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.3);
    animation: show2 2s infinite alternate;
}

  .three{
    position: absolute;
    top: -15px;
    left: 185px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.3);
    animation: show3 2s infinite alternate;
  }

  @keyframes show1 {
      0% {
          transform: scale(0);
      }
      100% {
          transform: scale(1);
      }
  }

  
  @keyframes show2 {
    0%,40% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show3 {
    0%,70% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}